<!-- 
<h2>My Heroes</h2>
<ul class="heroes">
 <li *ngFor="let project of projects" [class.selected]="project === selectedProject" (click)="onSelect(project)">
    <span class="badge">{{project.id}}</span> {{project.name}}
  </li>
</ul>
 -->
<!-- 
<ul class="heroes">
  <li *ngFor="let project of projects" >
    <a routerLink="/detail/{{project.id}}">
      <span class="badge">{{project.id}}</span> {{project.name}}
    </a>
  </li>
</ul>
 -->



			<figure  *ngFor="let project of projects" class="col-xs-12 col-sm-6 col-lg-4 picture-item js-item column row-span">
				<a ui-sref="work1">	
					<div class="aspect aspect--9x80">
						<div class="aspect__inner">
							<div class="work-text">
								<h3>{{project.name}}</h3>
							</div>
							<img src="https://pbs.twimg.com/profile_images/462337463709483008/x7ov71tq.jpeg" obj.alt="obj.alt"/>
						</div>
					</div>
				</a>
			</figure>


<!-- 
			<div ng-controller="gridListDemoCtrl as vm" flex="" ng-cloak="" class="gridListdemoDynamicTiles" ng-app="MyApp">
  <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px">

    <md-grid-tile ng-repeat="tile in vm.tiles" md-rowspan="{{tile.span.row}}" md-colspan="{{tile.span.col}}" md-colspan-sm="1" ng-class="tile.background">
      <md-icon md-svg-icon="{{tile.icon}}"></md-icon>
      <md-grid-tile-footer><h3>{{tile.title}}</h3></md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>
		 -->	 -->