@import"../../SCSS/mixin";

.work-project{

	h2{
		font-size:3rem;
	}
	// margin: 0 .75rem;
	p{
		margin: .5rem 0 1rem 0;
		text-align:justify;

	}
	h3{
		margin:1.1em auto 0 auto;
		// font-size:2rem;

	}
	h4{
		font-size:1.3rem;
		font-family:Open sans;
		font-style: italic;
		color: $font-accent;
		padding-top:1rem;
	
	}
	a, a:visited{
		color:white;
		transition:color .5s ease;
	}
	a:hover{
		color:$font-accent;
		transition:color .5s ease;
		cursor:pointer;

	}
	img{
		// height:400px;
		// background-size:cover;
	}
	.top-image{
		object-fit: cover;
		width:100%;
		// height:50vh;
	}

	// figure{
	// 	margin-bottom:1.5rem;
	// }
	.top-image-container{
		// margin:0 1rem;
	}
.down-arrow{
    position:absolute;
    top:80vh;
    left: 0; 
    right: 0; 
    text-align:center;

  }
	.project-block{
		margin: 0 1rem;
		
		padding:2rem 0;margin: 0 1rem;
		  @media screen and (min-width: $break-medium) {
   max-width: 60%;
   margin:0 auto;
  }

	}
	.my-shuffle{
		// max-width:80%;
		// margin:0 auto;
	}
	.aspect__inner{
		top:auto;
		bottom:auto;
	}
	.project-intro{
margin: 0 1rem;
		text-align:justify;
		  @media screen and (min-width: $break-medium) {
   max-width: 60%;
   margin:3rem auto;
  }
	}
	img{
		// height:80vh;
	}
	.project-text2{
width: 60%;
		margin:0 auto;
		text-align:justify;
	}
	.project-image{
		max-width:80%; 
		margin:3rem auto; 
		max-height: 40vh
	}
	.challenge-text{
		background-color: #F4F6F7;
	}

	.intro-project{
		max-width:600px;
		color:white;
		margin:0 auto;
		text-align:center;
		font-size:1.1rem;
		font-weight:normal;
	}
		// @media screen and (min-width: $break-small) {
		// 	.project-text{
		// 		width:60%;
		// 	}
		// 	.project-test2{
		// 		width:80%;
		// 	}
		// }
		// @media screen and (min-width: $break-large) {
		// 	.project-text{
		// 		// width:50%;
		// 	}
		// 	.project-test2{
		// 		width:60%;
		// 	}
		// }

}
// figure{
// 	margin:0 auto;
// }
// iframe{
// 	margin:0 auto;
// }



.project-header{
	height:100vh;
	flex-direction:column;
	display:flex;
	// position:fixed;
	align-items:center;
	justify-content:center;
 
background-size:cover;

h2{
	color:white;
	text-align:center;
	display:flex;
	flex-direction:row;
	justify-content:center;
	font-size:5rem;
	margin:.75rem .75rem;
}
h3{
	color:white;
}
}


.youtube{
	width: 100% !important;
	height: 315px;
}



.grid{
	display:flex;
}
.block-talks{
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url('/assets/img/blocktalks/block-talks-header-min.jpg');
	background-size:cover;
	  filter: grayscale(50%);
}

.asking-for-a-friend{
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url('/assets/img/asking/asking-for-a-friend-header-min.jpg');
	background-size:cover;
	  filter: grayscale(50%);
}
.earthgazing{
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url('/assets/img/earthgazement/earthgazing-header-min.jpg');
	background-size:cover;
	  filter: grayscale(50%);
}
.tangibles{
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url('/assets/img/tangibles/tangibles-header-min.jpg');
	background-size:cover;
	  filter: grayscale(50%);
}
.audio-matic{
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url('/assets/img/audiomatic/audio-matic-header-min.jpg');
background-size:cover;
  filter: grayscale(50%);
}
.mind-full{
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url('/assets/img/mindfull/mind-full-header-min.jpg');
background-size:cover;
  filter: grayscale(50%);
}


.none{
	display:none;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
			  @media screen and (min-width: $break-medium) {
	width: 50%;
	height: 50%;
  }
}

.aspect--9x80 {
padding-bottom: calc(112.5% + 8px);
}

.test{
	width:100%;
	margin:0 auto;
	img{width:50%;
		margin:0 0rem;
		}
}


