<!-- stateName enables the between page emotions -->
<div class="{{ stateName }}"> 
	<div class="ng-scope" ng-controller="MyCtrl">
		<div id="p5container">
			<header class= "site-header grid2" > 
				<!-- Left hand Side of Nav Bar-->
				<div class="logo">
					<a pageScroll [routerLink]="['']" href="#intro">
						<h1 class="logo-heading" >Elgin-Skye <span class=" "> McLaren</span></h1>
						<h2 class="logo-subheading ">developer // ux researcher</h2>
					</a>
				</div>
				<!-- Right hand Side of Nav Bar-->
				<nav class="menu">
					<ul class="nav-grid">
						<li>   <a pageScroll [routerLink]="['']" href="#work">
						<!-- <a pageScroll [routerLink]="['']" href="#about"> -->
						Work</a>
						</li>
						<li> <a pageScroll [routerLink]="['']" href="#about">About</a></li>
						<li> <a pageScroll [routerLink]="['']" href="#contact">Contact</a></li>
					</ul>
				</nav> 
			</header>


<main [@fadeAnimation]="getRouterOutletState(o)">
  <router-outlet #o="outlet"></router-outlet>
</main>




			<!-- <router-outlet></router-outlet> -->



<!-- https://medium.com/@tanya/angular4-animated-route-transitions-b5b9667cd67c -->


<!-- <p>bshabdkjsadjka</p>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/projects">Projects</a>
</nav> -->

<!-- <app-messages></app-messages> -->
