
		<div id="p5container">
			<header class= "site-header flex-wrap" > 
				<!-- Left hand Side of Nav Bar-->
				<div class="logo">
					<a pageScroll [routerLink]="['']" href="#intro">
						<h1 class="logo-heading" >Elgin-Skye <span class=" "> McLaren</span></h1>
						<h2 class="logo-subheading ">developer // ux researcher</h2>
					</a>
				</div>
				
				<!-- Right hand Side of Nav Bar-->
				<nav class="menu">
					<ul class="nav-grid">
						<li>   <a pageScroll [routerLink]="['']" href="#work">Work</a>
						</li>
						<li> <a pageScroll [routerLink]="['']" href="#about">About</a></li>
						<li> <a pageScroll [routerLink]="['']" href="#contact">Contact</a></li>
					</ul>
				</nav> 
			</header>


<div class="page" [@routerAnimations]="prepareRouteTransition(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
  <!-- <router-outlet></router-outlet>  -->

</div>
	<!-- 		<router-outlet></router-outlet> -->


