@import"../../SCSS/mixin";
.header{
  width:100%;
}


@font-face {
  font-family: "Custom Font";
  src: url("/assets/fonts/ionicons.woff") format("woff")
}


.wrapper{
  max-width:1250px;
  margin: 0 auto;
}

i{
  font-family:  "Ionicons";
  src: url("/assets/fonts/ionicons.woff") format("woff");
}



//////////////////////*** Introduction Styling ***///////////////////////////
#intro{
  margin:0 auto;
  text-align:center;
  height: 100vh;
  max-height:1250px;

  a{
    text-decoration:none;
  }
  p{
    align-self: center; 
    background-color:white;
    margin:1rem 0;
    font-size: 1.25rem;
    padding:0;
    @media screen and (min-width: $break-medium) {
      font-size: 1.1rem;
    }
  }
  @media screen and (min-width: $break-medium) {
    max-width: 60%;
  }
  .down-arrow{
    position:absolute;
    top:80vh;
    left: 0; 
    right: 0; 
  }

}















#intro-text{
  text-align: center;
  padding-top:30rem;
  width:100%;
  @media screen and (min-width: $break-xsmall) {
    padding-top:4rem;
    margin-top:2rem;
  }
  @media screen and (min-width: $break-xsmall) {
    padding-top:6rem;
  }
}


////////////////////////////*Work Styling*//////////////////////////////
#work{

  @media screen and (min-width: $break-medium) {

    h2{
      width:80%;
      margin: 2rem auto;
    }
    #myId{
      width:90%;
      margin:0 auto;
    }
  }

}




//*** Work Styling ***/
#work {
  a{
    color:#242424;
  }
  a:visted{
    color:#242424;
  }
}
.container-width{

}
.container-width2{
  width:90%;
  margin:0 auto;
}

.portfolio-card{
  width: 33%;
  border:grey solid 2px;
  margin:3rem auto;
  img{
    max-width:100%;
  }
}

.flex-card{
  display:flex;
  justify-content:space-around;
}

.mobile-only{
  display:inline-block;
  @media screen and (min-width: $break-medium) {
    display:none;
  }
}

.desktop-only{
  display:none;
  @media screen and (min-width: $break-medium) {
    display:inline-block;
  }
}

#work{

  .aspect__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color .5s ease;
    transition: width .5s ease;
    transition: height .5s ease;
    img{
      transition: transform .5s ease;


    }
  }
  .aspect__inner:hover {
    cursor:pointer;

    img{
      transition: transform .5s ease;
      -moz-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
      border: 1px #242424 solid

    }
    .work-text{

      background:rgba(0, 0, 0, .9);
      transition: color .5s ease;
      transition: background-color .5s ease;

    }
  }

}

.work-text{
  position: absolute;
  transition: color 1s ease;
  transition: background-color .5s ease;
  bottom: 0;
  height: 100%;
  padding:.5rem;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index:20;
  color:white;
  background-color:rgba(0,0,0, .7);
  width:100%;
  text-align:center;
  border-top:none;


  h3{
    font-size:1.5rem;
    font-family: Roboto, Open Sans, sans-serif;
    padding: .25rem 0;
    width: 95%;
    height:95%;
    margin: 0 auto;
    border:white solid 2px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:none;


  }


}

.aspect--9x80 {

  padding-bottom:  calc(80% + 8px)
}



img {
  display: block;
  width: 100%;
  max-width: none;
  object-fit: cover;
  height:100%;
}


















//*Tile grid styling */
.gridListdemoDynamicTiles md-icon {
  width: 50%;
  height: 30%; }

  .gridListdemoDynamicTiles md-icon svg {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; 
  }

  .gridListdemoDynamicTiles .s64 {
    font-size: 64px; 
  }

  .gridListdemoDynamicTiles .s32 {
    font-size: 48px; 
  }

  .gridListdemoDynamicTiles md-icon.fa {
    display: block;
    padding-left: 0; 
  }

  .gridListdemoDynamicTiles md-icon.s32 span {
    padding-left: 8px; 
  }

  .gridListdemoDynamicTiles md-grid-list {
    margin: 8px; }

    .gridListdemoDynamicTiles .gray {
      background: #f5f5f5; 
    }

    .gridListdemoDynamicTiles .green {
      background: #b9f6ca; 
    }

    .gridListdemoDynamicTiles .yellow {
      background: #ffff8d; 
    }

    .gridListdemoDynamicTiles .blue {
      background: #84ffff; 
    }

    .gridListdemoDynamicTiles .darkBlue {
      background: #80d8ff; 
    }

    .gridListdemoDynamicTiles .deepBlue {
      background: #448aff; 
    }

    .gridListdemoDynamicTiles .purple {
      background: #b388ff; 
    }

    .gridListdemoDynamicTiles .lightPurple {
      background: #8c9eff; 
    }

    .gridListdemoDynamicTiles .red {
      background: #ff8a80; 
    }

    .gridListdemoDynamicTiles .pink {
      background: #ff80ab; 
    }

    .gridListdemoDynamicTiles md-grid-tile {
      transition: all 300ms ease-out 50ms; 
    }

    .gridListdemoDynamicTiles md-grid-tile md-icon {
      padding-bottom: 32px; 
    }

    .gridListdemoDynamicTiles md-grid-tile md-grid-tile-footer {
      background: rgba(0, 0, 0, 0.68);
      height: 36px; 
    }

    .gridListdemoDynamicTiles md-grid-tile-footer figcaption {
      width: 100%; 
    }

    .gridListdemoDynamicTiles md-grid-tile-footer figcaption h3 {
      margin: 0;
      font-weight: 700;
      width: 100%;
      text-align: center; 
    }





    //Contact Section

    #contact{
      // background-color:rgb(255,255,255);
      // height:900px;
      color: #242424;
      z-index:800;

      h2{
        color:#242424;
        // font-size:2rem;
        margin:3rem 1rem,;
      }
    }




    //***Contact Styling ***/

    .contact-card{


      z-index:500;

      margin:0 auto;
      padding:2rem 0;
      height: 90vh;
      @media screen and (min-width: $break-medium) {
        height:85vh;
        width:80%;
      }

    }
    .contact-container{
      height:60%
    }



    .contact-list{
      width:100%;

      display: flex;
      flex-direction:column;
      list-style: none; 
      padding:1rem 0 4rem 0;
      @media screen and (min-width: $break-medium) {
        flex-direction: row;
        justify-content: center;
      }


      li{
        // font-size: 1.8rem;
        padding:.8rem;
        text-align:center;
        display:inline-block;
      }
      a{
        color: #242424;
        border-bottom:1px solid white;
        text-decoration:none;
        font-size:1.3rem;
        transition: color .5s ease;
        &:hover{
          transition: color 0.5s ease;
          color: rgb(251, 91, 78);
        }
      }

    }





    article a{
      text-decoration:none;
    }
